name: proxy_app
description: A proxy application.

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  dio: ^5.4.0
  flutter_svg: ^2.0.9
  cupertino_icons: ^1.0.2
  path: ^1.8.3
  path_provider: ^2.1.2
  win32_registry: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/